<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Crud with php and mysql</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="root">
        <div class="container">
            <h1 class="fleft">List of users</h1>
            <button class="fright addNew" @click="showingAddModal = true;">Add new</button>
            <div class="clear"></div>
            <hr>
            <p class="errorMessage"v-if="errorMessage">
                {{errorMessage}}
            </p>
            <p class="sucessMessage"v-if="sucessMessage">
                {{sucessMessage}}
            </p>
            <table class="list">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr v-for = "user in users">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                    <td><button @click="showingEditModal = true; selectUser(user)">Edit</button></td>
                    <td><button @click="showingDeleteModal = true; selectUser(user)">Delete</button></td>
                </tr>
            </table>
        </div>


        <div class="modal" id="addModal" v-if="showingAddModal">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Add New User</p>
                    <button class="fright close" @click="showingAddModal = false;">x</button>
                    <div class="clear"></div>
                </div>
                <div class="modalContent">
                    <table class="form">
                        <tr>
                            <th>Username</th>
                            <th> : </th>
                            <td><input type="text" name="username" v-model="newUser.username"></td>
                        </tr>

                        <tr>
                            <th>Email</th>
                            <th> : </th>
                            <td><input type="text" name="email" v-model="newUser.email"></td>
                        </tr>

                        <tr>
                            <th>Mobile</th>
                            <th> : </th>
                            <td><input type="text" name="mobile" v-model="newUser.mobile"></td>
                        </tr>

                        <tr>
                            <th></th>
                            <th></th>
                            <th><button @click="showingAddModal = false; saveUser();">save</button></th>
                        </tr>

                    </table>
                </div>
            </div>
        </div>


        <div class="modal" id="editModal" v-if="showingEditModal">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Edit This User</p>
                    <button class="fright close" @click="showingEditModal = false;">x</button>
                    <div class="clear"></div>
                </div>
                <div class="modalContent">
                    <table class="form">
                        <tr>
                            <th>Username</th>
                            <th> : </th>
                            <th><input type="text" name="username" v-model="clickedUser.username"></th>
                        </tr>

                        <tr>
                            <th>Email</th>
                            <th> : </th>
                            <th><input type="text" name="email" v-model="clickedUser.email"></th>
                        </tr>

                        <tr>
                            <th>Mobile</th>
                            <th> : </th>
                            <th><input type="text" name="mobile" v-model="clickedUser.mobile"></th>
                        </tr>

                        <tr>
                            <th></th>
                            <th></th>
                            <th><button @click="showingEditModal = false; updateUser()">update</button></th>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

        <div class="modal" id="deleteModal" v-if="showingDeleteModal">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Are you sure?</p>
                    <button class="fright close" @click="showingDeleteModal = false;">x</button>
                    <div class="clear"></div>
                </div>
                <div class="modalContent">
                    <p>You are going to delete '{{clickedUser.username}}'</p>
                    <br><br><br><br><br><br>
                    <button @click="showingDeleteModal = false; deleteUser()">Yes</button>
                    <button @click="showingDeleteModal = false;">No</button>
                </div>
            </div>
        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</body>
</html>